################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/net9.0/refint/Test.dll
/obj/Debug/net9.0/ref/Test.dll
/obj/Debug/net9.0/Test.AssemblyInfo.cs
/obj/Debug/net9.0/Test.AssemblyInfoInputs.cache
/obj/Debug/net9.0/Test.csproj.CoreCompileInputs.cache
/obj/Debug/net9.0/Test.csproj.FileListAbsolute.txt
/obj/Debug/net9.0/Test.dll
/obj/Debug/net9.0/Test.genruntimeconfig.cache
/obj/Debug/net9.0/Test.pdb
/UnitTest1.cs
/UnitTest2.cs
*.vsidx
/bin/Debug/net9.0/nunit_random_seed.tmp
/bin/Debug/net9.0/Test.dll
/bin/Debug/net9.0/Test.pdb
/.vs/Test/v17/TestStore/0/000.testlog
/.vs/Test/v17/.suo
/.vs/Test/v17/DocumentLayout.backup.json
/.vs/Test/v17/DocumentLayout.json
/.vs/Test/v17/TestStore/0/001.testlog
/.gitignore
/obj/Debug/net9.0/Test.sourcelink.json
/obj/Debug/net9.0/Test.sourcelink.json
/.gitignore
/.gitignore
/obj/Debug/net9.0/Test.sourcelink.json
/.gitignore
